.fade-on-scroll,
.animate-on-scroll,
.stagger-on-scroll,
.stagger-fast-on-scroll,
.blast-on-scroll {
  opacity: 0;
  will-change: scroll-position;
}

.stagger-on-scroll.animate,
.stagger-fast-on-scroll.animate,
.blast-on-scroll.animate {
  opacity: 1;

  .blast {
    display: inline-block;
  }
}

.fade-on-scroll.animate {
  animation-name: d;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.animate-on-scroll.animate {
  animation-name: a;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes a {
  0% {
    opacity: 0;
    -webkit-backface-visibility: hidden;
  }

  to {
    opacity: 1;
    -webkit-backface-visibility: hidden;
  }
}

@keyframes d {
  0% {
    opacity: 0;
    transform: translateY(20px);
    -webkit-backface-visibility: hidden;
  }

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-backface-visibility: hidden;
  }
}
