// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

@mixin h1 {
  font-family: 'Founders Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #777689;

  @include media-breakpoint-up(md) {
    font-size: 90px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 132px;
  }
}

h1,
.h1 {
  @include h1;

  &.text-stroke {
    -webkit-text-stroke: 1px #0E5610;
    text-stroke: 1px #0E5610;

    @include media-breakpoint-up(md) {
      -webkit-text-stroke: 2px #0E5610;
      text-stroke: 2px #0E5610;
    }
    @include media-breakpoint-up(lg) {
      -webkit-text-stroke: 5px #0E5610;
      text-stroke: 5px #0E5610;
    }
  }
}


/* 
@mixin h2 {
  font-family: $headings-font-family;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -.03rem;
  font-weight: $headings-font-weight;
}

h2,
.h2 {
  @include h2;
}

@mixin h3 {
  font-family: $headings-font-family;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -.03rem;
  font-weight: $headings-font-weight;
}

h3,
.h3 {
  @include h3;
} */

ul {
  @include list-unstyled;
  margin-bottom: 0;
}

ol {
  counter-reset: item;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;

  li {
    display: block;
    padding-left: 1.6rem;
    position: relative;
  }
}

//
// Lists
//

.list-unstyled {
  @include list-unstyled;
  margin-bottom: 0;
}

.list-styled {
  li {
    position: relative;
    padding-left: 2rem;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: $white;
      position: absolute;
      top: 5px;
      left: 0;
      border-radius: 50%;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 1.4rem;

      &::before {
        content: "";
        width: 8px;
        height: 8px;
      }
    }
  }
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}